<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- footer area start -->
    <footer th:fragment="footer">
        <div class="wrap">
            <h2>
                <img src="images/main2/logo_white.png" alt="차이에브뉴">
            </h2>
            <div class="addr">
                <p>대표: 홍길동 사업자 등록번호 : 123-456-7890 전화 : 031-123-4567<br>
                    경기도 김포시 김포한강10로 133번길 82 아크라시티 2차
                </p>
                <ul>
                    <li><a href="">개인정보처리방침</a></li>
                    <li><a href="">서비스 이용약관</a></li>
                    <li><a href="">위치기반서비스 이용약관</a></li>
                </ul>
            </div>
            <div id="famillySite">
                <div id="dropDownBtn">
                    <p>
                        패밀리 사이트
                    </p>
                </div>
                <ul>
                    <li class="1"><a href="">패밀리 사이트1</a><img src="images/main2/arrow_white.png" alt=""></li>
                    <li class="2"><a href="">패밀리 사이트2</a><img src="images/main2/arrow_white.png" alt=""></li>
                    <li class="3"><a href="">패밀리 사이트3</a><img src="images/main2/arrow_white.png" alt=""></li>
                    <li class="4"><a href="">패밀리 사이트4</a><img src="images/main2/arrow_white.png" alt=""></li>
                    <li class="5"><a href="">패밀리 사이트5</a><img src="images/main2/arrow_white.png" alt=""></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>