<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.chaievneu.board.BoardMapper">

    <!-- BOARD 컬럼리스트 -->
    <sql id="boardColumns">
            BOARD_NO
            ,TITLE
            ,CONTENT
            ,CREATE_DATE
            ,STATUS
            ,CATEGORY
            ,VIEW
    </sql>


    <!-- 게시글 리스트 조회 -->
    <select id="boardList" parameterType="com.home.chaievneu.common.SearchDto" resultType="com.home.chaievneu.board.Board">
        SELECT
            <include refid="boardColumns" />
        FROM
            BOARD
        WHERE
            STATUS = 1
        ORDER BY BOARD_NO DESC
        LIMIT #{pagination.limitStart}, #{recordSize} <!-- 반환되는 데이터 개수를 지정하는 구문 -->
    </select>

    <select id="count" parameterType="com.home.chaievneu.common.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            BOARD
        WHERE
            STATUS = 1;
    </select>

    <!-- 게시글 상세 조회 -->
    <select id="detailBoard" parameterType="int" resultType="com.home.chaievneu.board.Board">
        SELECT
            <include refid="boardColumns" />
        FROM
            BOARD
        WHERE
            BOARD_NO = #{boardNo}
        AND
            STATUS = 1
    </select>

    <!-- 게시글 저장 -->
    <insert id="boardSave" parameterType="com.home.chaievneu.board.Board">
        INSERT
        INTO
            BOARD (
                TITLE
                , CONTENT
                , CREATE_DATE
                , STATUS
                , CATEGORY
                , VIEW )
        VALUES (
                #{title}
            ,   #{content}
            ,   now()
            ,   default
            ,   #{category}
            ,   default
               )
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.home.chaievneu.board.Board">
        UPDATE BOARD
        SET
            TITLE = #{title}
            ,CONTENT = #{content}
            ,CATEGORY = #{category}
        WHERE
            BOARD_NO = #{boardNo}
    </update>

    <!-- 게시글 삭제 -->
    <update id="deleteBoard" parameterType="com.home.chaievneu.board.Board">
        UPDATE BOARD
        SET
            STATUS = 0
        WHERE
            BOARD_NO = #{boardNo}
    </update>

<!--    <insert id="save" parameterType="com.study.domain.post.PostRequest" useGeneratedKeys="true" keyProperty="id">-->

</mapper>