<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차이에브뉴 소식</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/news.css}">
</head>

<body>

    <header th:replace="~{/common/header::header}"></header>

    <div class="pointImg">
        <div class="wrap">
            <div class="navigator">
                <p><img th:src="@{/images/homeBtn.png}" alt=""></p>
                <p>></p>
                <p>에브뉴 소식</p>
            </div>

        </div>
        <div class="imgBox">
        </div>
        <div class="wrap">
            <p>차이에브뉴에 방문해주셔서 감사합니다.<br>
                <span>편안한 식사가 되도록 노력하겠습니다.</span></p>
        </div>
    </div>


    <div id="newsConWrap">
        <div class="wrap mMenuWrap">
            <ul class="mMenu">
                <li><a href="">ALL</a></li>
                <li><a href="">뉴스</a></li>
                <li><a href="">공지사항</a></li>
                <li><a href="">이벤트</a></li>
            </ul>
        </div>
        <div class="wrap">
            <div id="leftMenu">
                <ul>
                    <li><a href="">ALL</a></li>
                    <li><a href="">뉴스</a></li>
                    <li><a href="">공지사항</a></li>
                    <li><a href="">이벤트</a></li>
                </ul>
            </div>
            <div class="conWrap">
                <div class="newsCon">
                    <div th:if="${ not #lists.isEmpty( board )}" class="newsBox" th:each="row, status : ${ board }">
                        <h3 th:text="${row.title}"></h3>
                        <p th:text="${row.content}"></p>
                        <p th:text="${row.createDate}"></p>
                    </div>
                    <div class="newsBox">
                        <h3>'Happy Hour' 이벤트! 한정된 기간, 특별한 세트 메뉴를 특별한 가격으로 즐겨보세요!</h3>
                        <p class="ellipsis-box">평소보다 저렴한 가격으로 맛있는 중국 요리를 맛보고 싶으신 분들을 위한 이벤트입니다. 이 기회를 놓치지 마세요</p>
                        <p>24.01.30</p>
                    </div>
                    <div class="newsBox">
                        <h3>특별한 할인 혜택! 음식 쿠폰을 통한 맛의 여행 시작하세요!</h3>
                        <p class="ellipsis-box">음식 쿠폰을 사용하여 맛있는 중식 요리를 더 저렴한 가격에 즐겨보세요! 저희 식당에서는 다양한 쿠폰을 제공하여 고객님들께 특별한 혜택을 드리고 있습니다. 매일 맛있는 음식을 더 저렴하게 즐길 수 있는 기회를 놓치지 마세요!</p>
                        <p>24.01.30</p>
                    </div>
                    <div class="newsBox">
                        <h3>매주 선물이 가득한 추첨 이벤트! 당신의 행운을 시험해보세요!</h3>
                        <p class="ellipsis-box">매주 추첨을 통해 다양한 선물이 가득한 이벤트를 진행하고 있습니다. 저희 식당을 방문하신 고객들 중 행운을 시험해보세요! 당신의 당첨을 기대해주세요. 매주 새로운 선물을 드립니다!</p>
                        <p>24.01.30</p>
                    </div>
                    <div class="newsBox">
                        <h3>중식집 추석 당일 휴무 안내</h3>
                        <p class="ellipsis-box">안녕하세요, 저희 중식집을 이용해주셔서 감사합니다. 추석을 맞아 휴식을 취하기 위해 다음과 같이 휴무일을 안내해드립니다. 고객님들께는 이에 따라 휴무일을 참고하시어 불편함이 없도록 해주시길 부탁드립니다. 감사합니다</p>
                        <p>24.01.30</p>
                    </div>
                    <div class="newsBox">
                        <h3>차이에브뉴 신메뉴 출시! 맛과 특별한 경험을 만나보세요!</h3>
                        <p class="ellipsis-box">안녕하세요, 저희 중식집을 이용해주셔서 감사합니다. 새로운 맛과 특별한 경험을 선사하기 위해 새로운 신메뉴를 소개해드립니다!
                            이번에 새롭게 출시되는 신메뉴는 [메뉴 이름] 입니다. [메뉴 설명 및 특징] 이 제공됩니다. 저희 식당에서는 항상 최상의 품질과 맛을 제공하기 위해 노력하고 있습니다.</p>
                        <p>24.01.30</p>
                    </div>
                </div>
                <ul class="pagination">
                    <li><a href="">PREV</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">NEXT</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer th:replace="~{/common/footer :: footer}"></footer>



    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
</body>

</html>
