<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차이에브뉴 소식</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/news.css}">
</head>

<body>

    <header th:replace="~{/common/header::header}"></header>

    <div class="pointImg">
        <div class="wrap">
            <div class="navigator">
                <p><img th:src="@{/images/homeBtn.png}" alt=""></p>
                <p>></p>
                <p>에브뉴 소식</p>
            </div>

        </div>
        <div class="imgBox">
        </div>
        <div class="wrap">
            <p>차이에브뉴에 방문해주셔서 감사합니다.<br>
                <span>편안한 식사가 되도록 노력하겠습니다.</span></p>
        </div>
    </div>


    <div id="newsConWrap">
        <div class="wrap mMenuWrap">
            <ul class="mMenu">
                <li><a href="">ALL</a></li>
                <li><a href="">뉴스</a></li>
                <li><a href="">공지사항</a></li>
                <li><a href="">이벤트</a></li>
            </ul>
        </div>
        <div class="wrap">
            <div id="leftMenu">
                <ul>
                    <li><a href="">ALL</a></li>
                    <li><a href="">뉴스</a></li>
                    <li><a href="">공지사항</a></li>
                    <li><a href="">이벤트</a></li>
                </ul>
            </div>
            <div class="conWrap">
                <div class="newsCon">
                    <div th:if="${ not #lists.isEmpty( board )}" class="newsBox" th:each="row, status : ${ board }">
                        <h3 th:text="${row.title}" th:onclick="|location.href='@{boardDetail.bo(boardNo=${row.boardNo})}'|"></h3>
                        <p th:text="${row.content}"></p>
                        <p th:text="${row.createDate}"></p>
                    </div>
                </div>
                <ul class="pagination">
                    <li><a href="">PREV</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">NEXT</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer th:replace="~{/common/footer :: footer}"></footer>



    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
</body>

</html>
